<div class="container text-center row row row-cols-2">
  <p style="color: green"><%= notice %></p>

  <h1>Beaches</h1>

  <div class=" col-4" id="beaches">
    <% @beaches.each do |beach| %>
    <div class="card mb-2 mx-5 ">
      <%= render beach  %>
      <p>
        <%= link_to "Show this beach", beach ,class:"btn btn-primary"%>
      </p>
      </div>
    <% end %>
  </div>

  <div id="map" style="width: 50%; height: 400px;" class=" container">
    <script>
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: { id: 'map' }}, function(){
        // Customize map options here, if needed

        // Add markers to the map
        <% @beaches.each do |beach| %>
          marker = handler.addMarker({
            lat: <%= beach.latitude %>,
            lng: <%= beach.longitude %>,
            infowindow: '<%= beach.name %>'
          });
        <% end %>

        // Automatically fit the map to show all markers
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    </script>
  </div>
</div>
